<settings>
	<servers>
		<server>
			<id>github</id>
			<username>kharchessk@gmail.com</username>
			<password>kharcheSSK@5937</password>
		</server>
	</servers>

<!-- <proxies>
	 	<proxy>
			<id>example-proxy</id>
			<active>true</active>
			<protocol>https</protocol>
			<host>proxy.github.com</host>
			<port>8082</port>
			<username>admin</username>
			<password>jenkins123</password>
			<nonProxyHosts>www.google.com|*.example.com</nonProxyHosts>
		</proxy>
	</proxies>
 -->


</settings>